wheel==0.48.0

# https://github.com/ronaldoussoren/py2app/issues/538#issuecomment-3193389958
# Don't upgrade past this version as 70.x.x does not work
#
# Well the above was fix in py2app 0.28.10 (Leaving comment here for reference for my other py2app applications)
# https://github.com/ronaldoussoren/py2app/issues/564
#
# setuptools==70.1.1
# setuptools==70.3.0
setuptools<81.0.0

py2app==0.28.10

mypy==2.3.1
html-testRunner~=1.2.1

# So Circle CI works
buildlackey==2.1.0

wxPython==4.3.1
Pypubsub==4.0.7
semantic-version==2.10.0

codeallybasic==1.40.0
codeallyadvanced==2.5.7

umlmodel==3.5.0
umlshapes==3.0.0
umlio==0.8.0
umlextensions==0.9.1
