
version: '2.1'

orbs:
  python: circleci/python@2.1.1

workflows:
  main:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/

jobs:
  build:
    docker:
      - image: cimg/python:3.13-browsers
    executor: python/default
    steps:
      - checkout:
          method: full
      - restore_cache:
          key: &deps1-cache deps1-{{ .Branch }}-{{ checksum "setup.py" }}
      - run:
          name: Install library dependencies
          command: |
            sudo apt update
            sudo apt install libnotify-dev
            sudo apt install libgtk-3-dev
            sudo apt-get install -y  libsdl2-dev
            pip install --upgrade pip
            pip install wheel
            pip install setuptools
            pip install attrdict3~=2.0.2  
            pip install -v -U -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-24.04  wxPython
            pip install semantic-version==2.10.0
            pip install codeallybasic==1.30.0
            pip install codeallyadvanced==2.3.0
            pip install umlmodel==3.4.0
            pip install umlshapes==1.5.0
            pip install umlio==0.6.0
            pip install umlextensions==0.3.1
            pip install buildlackey==2.0.0
            pip install semantic-version==2.10.0
            pip install Pypubsub==4.0.3
      - save_cache:
          key: *deps1-cache
          paths:
            - "venv"
      - run:
            name: run tests
            command: | 
              python3 -m venv venv
              . venv/bin/activate
              pip install buildlackey
              unittests
